body {
    overflow: hidden; /* Oculta a barra de rolagem em toda a página */
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 20px; /* Adiciona um padding para garantir margens laterais */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura e altura */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.form-container {
    background-color: #050505e1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    position: absolute;
    right: 100px; /* Ajuste a margem direita conforme necessário */
    top: 50%; /* Centraliza verticalmente na tela */
    transform: translateY(-50%); /* Ajusta o posicionamento vertical para centralizar */
    border-top: 4px solid #19c727; /* Borda superior verde */
    border-bottom: 4px solid #19c727; /* Borda inferior verde */
    max-height: 500px; /* Ajuste a altura máxima do formulário */
    overflow: hidden; /* Oculta a barra de rolagem */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Garante que o botão esteja no fundo */
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: #19c727;
}

form {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Faz com que o formulário ocupe a maior parte da altura disponível */
    margin-bottom: 10px; /* Adiciona um pouco de margem abaixo do formulário */
}

label {
    color: #4caf50; /* Define a cor verde para os rótulos */
    font-weight: 500; /* Torna o texto um pouco mais espesso para melhorar a visibilidade */
    margin-bottom: 6px; /* Adiciona um espaço abaixo do rótulo */
    transition: transform 0.3s ease, color 0.3s ease; /* Adiciona transição para o hover */
}

input {
    width: 100%;
    padding: 8px; /* Reduz o padding para liberar mais espaço */
    border: 1px solid #19ee35;
    border-radius: 4px;
    margin-bottom: 10px; /* Reduz o espaço entre os inputs */
    font-size: 14px; /* Reduz o tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adiciona transição para o hover */
}

input:hover,
input:focus {
    border-color: #19c727;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adiciona elevação ao passar o mouse */
    transform: translateY(-2px); /* Move o input para cima ao passar o mouse */
}

input:hover + label,
input:focus + label {
    color: #19c727; /* Muda a cor do rótulo quando o input está em foco */
    transform: translateY(-4px); /* Move o rótulo para cima quando o input está em foco */
}

button {
    padding: 10px; /* Reduz o padding para ajustar o tamanho do botão */
    background-color: #151618;
    color: #19c727;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adiciona transição para o hover */
    margin-top: 10px; /* Espaçamento adicional acima do botão */
}

button:hover {
    background-color: #454749;
    transform: translateY(-4px); /* Move o botão para cima ao passar o mouse */
}

.error-text {
    color: #ff0000;
    font-size: 14px;
}

/* Responsividade */
@media (max-width: 768px) {
    .form-container {
        right: 20px; /* Ajusta a margem direita em telas menores */
        width: calc(100% - 40px); /* Ajusta a largura do formulário para telas menores */
    }
}
